body {
	background-image: url(/img/hypmatrix.gif);
	background-repeat: no-repeat;
	background-size: cover;
}
.jumbotron {
	text-align: center;
}
p {
	font-size: 16px;
	text-align: center;
	
}

p#answer{
	height: 30px;
}

.calculator {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	opacity: .90;
}
.btn {
	background-color: #1E2429;
}

#inputboxes{
width: 100%;
}

input {
	height:30px;
}

#firstBox,#secondBox {
	width: 40%;
	text-align: center;
}
#operatorBox {
	width: 18%;
	text-align: center;
}
#answer {
	margin-top: 1px;

	text-align: center;
}
.jumbotron {
	background-color: rgba(238, 238, 238, 0.5);
}